/**
 * Extral small: xs
 */
/**
 * Small: sm
 */
/**
 * Medium: md
 */
/**
 * Large: lg
 */
/**
 * Extra large: xl
 */
/**
 * 
 */
/**
 * Content
 */
/**
 * Heading
 */
/**
 * Anchor
 */
/**
 * Figcaption
 */
/**
 * Blockquote
 */
/**
 * Cite
 */
/**
 * Floated
 */
/**
 * Generates heading selectors given a set of font size units
 */
/**
 * Generates selectors for spacing between elements
 * It is repeated for the main tree and for the blockquote tree
 */
.wysiwyg-content {
  font-size: 1rem;
  line-height: 1.5;
  font-family: serif;
  /**
   * Headings
   */
  /**
   * Content
   */
}
.wysiwyg-content a {
  color: blue;
  text-decoration: underline;
  transition: color 0.3s ease;
}
.wysiwyg-content a:active {
  color: #9999ff;
}
.wysiwyg-content a:visited {
  color: #000099;
}
.wysiwyg-content a:hover {
  color: #0000cc;
}
.wysiwyg-content > * {
  margin-top: 1em;
  margin-bottom: 1em;
}
.wysiwyg-content > *:first-child {
  margin-top: 0;
}
.wysiwyg-content > *:last-child {
  margin-bottom: 0;
}
.wysiwyg-content h1,
.wysiwyg-content h2,
.wysiwyg-content h3,
.wysiwyg-content h4,
.wysiwyg-content h5,
.wysiwyg-content h6 {
  margin-top: 2em;
  margin-bottom: 1em;
}
.wysiwyg-content h1:first-child,
.wysiwyg-content h2:first-child,
.wysiwyg-content h3:first-child,
.wysiwyg-content h4:first-child,
.wysiwyg-content h5:first-child,
.wysiwyg-content h6:first-child {
  margin-top: 0;
}
.wysiwyg-content h1:last-child,
.wysiwyg-content h2:last-child,
.wysiwyg-content h3:last-child,
.wysiwyg-content h4:last-child,
.wysiwyg-content h5:last-child,
.wysiwyg-content h6:last-child {
  margin-bottom: 0;
}
.wysiwyg-content h6 {
  margin-bottom: 0;
}
.wysiwyg-content > *.float-left {
  float: left;
  margin-right: 1em;
  width: 50%;
}
.wysiwyg-content > *.float-right {
  float: right;
  margin-left: 1em;
  width: 50%;
}
.wysiwyg-content h1,
.wysiwyg-content h2,
.wysiwyg-content h3,
.wysiwyg-content h4,
.wysiwyg-content h5,
.wysiwyg-content h6 {
  font-weight: bold;
  font-family: serif;
  line-height: 1.3;
}
@media (max-width: 575px) {
  .wysiwyg-content h1 {
    font-size: 3rem;
  }
  .wysiwyg-content h2 {
    font-size: 2rem;
  }
  .wysiwyg-content h3 {
    font-size: 1.5rem;
  }
  .wysiwyg-content h4 {
    font-size: 1.2rem;
  }
  .wysiwyg-content h5 {
    font-size: 1rem;
  }
  .wysiwyg-content h6 {
    font-size: 1rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .wysiwyg-content h1 {
    font-size: 3rem;
  }
  .wysiwyg-content h2 {
    font-size: 2rem;
  }
  .wysiwyg-content h3 {
    font-size: 1.5rem;
  }
  .wysiwyg-content h4 {
    font-size: 1.2rem;
  }
  .wysiwyg-content h5 {
    font-size: 1rem;
  }
  .wysiwyg-content h6 {
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .wysiwyg-content h1 {
    font-size: 3rem;
  }
  .wysiwyg-content h2 {
    font-size: 2rem;
  }
  .wysiwyg-content h3 {
    font-size: 1.5rem;
  }
  .wysiwyg-content h4 {
    font-size: 1.2rem;
  }
  .wysiwyg-content h5 {
    font-size: 1rem;
  }
  .wysiwyg-content h6 {
    font-size: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1399px) {
  .wysiwyg-content h1 {
    font-size: 3rem;
  }
  .wysiwyg-content h2 {
    font-size: 2rem;
  }
  .wysiwyg-content h3 {
    font-size: 1.5rem;
  }
  .wysiwyg-content h4 {
    font-size: 1.2rem;
  }
  .wysiwyg-content h5 {
    font-size: 1rem;
  }
  .wysiwyg-content h6 {
    font-size: 1rem;
  }
}
@media (min-width: 1400px) {
  .wysiwyg-content h1 {
    font-size: 3rem;
  }
  .wysiwyg-content h2 {
    font-size: 2rem;
  }
  .wysiwyg-content h3 {
    font-size: 1.5rem;
  }
  .wysiwyg-content h4 {
    font-size: 1.2rem;
  }
  .wysiwyg-content h5 {
    font-size: 1rem;
  }
  .wysiwyg-content h6 {
    font-size: 1rem;
  }
}
.wysiwyg-content img {
  max-width: 100%;
  height: auto;
  display: block;
}
.wysiwyg-content blockquote {
  margin: 2em 2em;
}
.wysiwyg-content blockquote > * {
  margin-top: 1em;
  margin-bottom: 1em;
}
.wysiwyg-content blockquote > *:first-child {
  margin-top: 0;
}
.wysiwyg-content blockquote > *:last-child {
  margin-bottom: 0;
}
.wysiwyg-content blockquote h1,
.wysiwyg-content blockquote h2,
.wysiwyg-content blockquote h3,
.wysiwyg-content blockquote h4,
.wysiwyg-content blockquote h5,
.wysiwyg-content blockquote h6 {
  margin-top: 2em;
  margin-bottom: 1em;
}
.wysiwyg-content blockquote h1:first-child,
.wysiwyg-content blockquote h2:first-child,
.wysiwyg-content blockquote h3:first-child,
.wysiwyg-content blockquote h4:first-child,
.wysiwyg-content blockquote h5:first-child,
.wysiwyg-content blockquote h6:first-child {
  margin-top: 0;
}
.wysiwyg-content blockquote h1:last-child,
.wysiwyg-content blockquote h2:last-child,
.wysiwyg-content blockquote h3:last-child,
.wysiwyg-content blockquote h4:last-child,
.wysiwyg-content blockquote h5:last-child,
.wysiwyg-content blockquote h6:last-child {
  margin-bottom: 0;
}
.wysiwyg-content blockquote h6 {
  margin-bottom: 0;
}
.wysiwyg-content cite {
  font-style: normal;
}
.wysiwyg-content strong,
.wysiwyg-content b {
  font-weight: bold;
}
.wysiwyg-content em,
.wysiwyg-content i {
  font-style: italic;
}
.wysiwyg-content del,
.wysiwyg-content ins {
  color: inherit;
}
.wysiwyg-content figure {
  margin-right: 0;
  margin-left: 0;
}
.wysiwyg-content figure figcaption {
  margin-top: 0.5em;
  font-size: 0.8em;
  font-style: normal;
}
.wysiwyg-content iframe {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}
.bg-skyblue {
  background-color: skyblue;
  color: black;
  border-color: skyblue;
}
.bg-yellow {
  background-color: yellow;
  color: black;
  border-color: yellow;
}
.bg-navy {
  background-color: navy;
  color: white;
  border-color: navy;
}
.bg-darkred {
  background-color: darkred;
  color: white;
  border-color: darkred;
}
.fg-skyblue {
  color: skyblue;
  border-color: skyblue;
}
.fg-yellow {
  color: yellow;
  border-color: yellow;
}
.fg-navy {
  color: navy;
  border-color: navy;
}
.fg-darkred {
  color: darkred;
  border-color: darkred;
}
.border-skyblue {
  border-color: skyblue;
}
.border-yellow {
  border-color: yellow;
}
.border-navy {
  border-color: navy;
}
.border-darkred {
  border-color: darkred;
}
.hover-bg-skyblue:hover {
  background-color: skyblue;
  border-color: skyblue;
  color: black;
}
.hover-bg-yellow:hover {
  background-color: yellow;
  border-color: yellow;
  color: black;
}
.hover-bg-navy:hover {
  background-color: navy;
  border-color: navy;
  color: white;
}
.hover-bg-darkred:hover {
  background-color: darkred;
  border-color: darkred;
  color: white;
}
.hover-fg-skyblue:hover {
  color: skyblue;
  border-color: skyblue;
}
.hover-fg-yellow:hover {
  color: yellow;
  border-color: yellow;
}
.hover-fg-navy:hover {
  color: navy;
  border-color: navy;
}
.hover-fg-darkred:hover {
  color: darkred;
  border-color: darkred;
}
.btn {
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.btn > svg {
  height: 1em;
  width: auto;
  color: currentColor;
}
.btn.btn--icon-right > svg {
  margin-left: 10px;
}
.btn.btn--icon-left > svg {
  margin-right: 10px;
}
.btn.btn--icon-only {
  padding: 10px;
}
button.btn {
  background-color: transparent;
}
button.btn.bg-skyblue {
  background-color: skyblue;
  color: black;
  border-color: skyblue;
}
button.btn.bg-yellow {
  background-color: yellow;
  color: black;
  border-color: yellow;
}
button.btn.bg-navy {
  background-color: navy;
  color: white;
  border-color: navy;
}
button.btn.bg-darkred {
  background-color: darkred;
  color: white;
  border-color: darkred;
}
button.btn.hover-bg-skyblue:hover {
  background-color: skyblue;
  border-color: skyblue;
  color: black;
}
button.btn.hover-bg-yellow:hover {
  background-color: yellow;
  border-color: yellow;
  color: black;
}
button.btn.hover-bg-navy:hover {
  background-color: navy;
  border-color: navy;
  color: white;
}
button.btn.hover-bg-darkred:hover {
  background-color: darkred;
  border-color: darkred;
  color: white;
}
button.btn.hover-fg-skyblue:hover {
  color: skyblue;
  border-color: skyblue;
}
button.btn.hover-fg-yellow:hover {
  color: yellow;
  border-color: yellow;
}
button.btn.hover-fg-navy:hover {
  color: navy;
  border-color: navy;
}
button.btn.hover-fg-darkred:hover {
  color: darkred;
  border-color: darkred;
}
a.btn-link {
  padding: 10px 0;
  display: inline-flex;
  text-decoration: none;
  transition: color 0.3s ease;
}
a.btn-link:hover {
  text-decoration: underline;
}
a.btn-link > svg {
  height: 1em;
  width: auto;
  color: currentColor;
}
a.btn-link.btn-link--icon-right > svg {
  margin-left: 10px;
}
a.btn-link.btn-link--icon-left > svg {
  margin-right: 10px;
}
a.btn-link.btn-link--icon-only {
  padding: 10px;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
body {
  background-color: lightgray;
}
#content {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
}
