.bg-skyblue {
  background-color: skyblue;
  color: black;
  border-color: skyblue;
}
.bg-yellow {
  background-color: yellow;
  color: black;
  border-color: yellow;
}
.bg-navy {
  background-color: navy;
  color: white;
  border-color: navy;
}
.bg-darkred {
  background-color: darkred;
  color: white;
  border-color: darkred;
}
.fg-skyblue {
  color: skyblue;
  border-color: skyblue;
}
.fg-yellow {
  color: yellow;
  border-color: yellow;
}
.fg-navy {
  color: navy;
  border-color: navy;
}
.fg-darkred {
  color: darkred;
  border-color: darkred;
}
.border-skyblue {
  border-color: skyblue;
}
.border-yellow {
  border-color: yellow;
}
.border-navy {
  border-color: navy;
}
.border-darkred {
  border-color: darkred;
}
.hover-bg-skyblue:hover {
  background-color: skyblue;
  border-color: skyblue;
  color: black;
}
.hover-bg-yellow:hover {
  background-color: yellow;
  border-color: yellow;
  color: black;
}
.hover-bg-navy:hover {
  background-color: navy;
  border-color: navy;
  color: white;
}
.hover-bg-darkred:hover {
  background-color: darkred;
  border-color: darkred;
  color: white;
}
.hover-fg-skyblue:hover {
  color: skyblue;
}
.hover-fg-yellow:hover {
  color: yellow;
}
.hover-fg-navy:hover {
  color: navy;
}
.hover-fg-darkred:hover {
  color: darkred;
}
