.bg-skyblue {
  background-color: skyblue;
  color: black;
}
.bg-yellow {
  background-color: yellow;
  color: black;
}
.bg-navy {
  background-color: navy;
  color: white;
}
.bg-darkred {
  background-color: darkred;
  color: white;
}
.fg-skyblue {
  color: skyblue;
}
.fg-yellow {
  color: yellow;
}
.fg-navy {
  color: navy;
}
.fg-darkred {
  color: darkred;
}
.hover-skyblue:hover {
  background-color: skyblue;
  border-color: skyblue !important;
  color: black;
}
.hover-yellow:hover {
  background-color: yellow;
  border-color: yellow !important;
  color: black;
}
.hover-navy:hover {
  background-color: navy;
  border-color: navy !important;
  color: white;
}
.hover-darkred:hover {
  background-color: darkred;
  border-color: darkred !important;
  color: white;
}
