@import '../../less/base.less';
@import '../../less/typography.less';
@import '../../less/spacing.less';

body {
  background-color: turquoise;
}

@ui--typography-font-families: {
  serif: serif;
  sans-serif: sans-serif;
  arial: Arial;
  times: 'Times New Roman';
}

.mx__typography-rulesets();

#content {
  max-width: 800px;
  margin: 0 auto;
  background-color: white
}

.demo-component {
	display: flex;

	> .demo-component__title {
		.mx__typography-font-size(heading, 1);
	}

	> div {
		.mx__typography-font-size(text, 3);
	}

	> textarea {
		.mx__typography-font-size(text, 1);
	}
}