@import '../grid.less';

.dev-grid-ruler.row {
	min-height: 50px;

	> [class*="col"] {
		position: relative;
		box-shadow: inset 0px 0px 0px 1px fade(@ui--dev-overlay-color, 20%);

		&::before {
			content: '';
			display: block;

			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;

			height: 100%;
			width: 100%;

			border-left: solid fade(@ui--dev-overlay-color, 20%);
			border-right: solid fade(@ui--dev-overlay-color, 20%);

			.mx__grid-apply-gutter(horizontal, {
				border-left-width: @gutter-value * 1/2;
				border-right-width: @gutter-value * 1/2;
			});
		}

		&:first-child::before {
			border-left-color: fade(black, 20%);
		}

		&:last-child::before {
			border-right-color: fade(black, 20%);
		}
	}
}
