@import 'responsive.less';

@ui--headings-font-family-h1: serif;
@ui--headings-font-family-h2: @ui--headings-font-family-h1;
@ui--headings-font-family-h3: @ui--headings-font-family-h2;
@ui--headings-font-family-h4: @ui--headings-font-family-h3;
@ui--headings-font-family-h5: @ui--headings-font-family-h4;
@ui--headings-font-family-h6: @ui--headings-font-family-h5;

@ui--headings-font-weight-h1: bold;
@ui--headings-font-weight-h2: @ui--headings-font-weight-h1;
@ui--headings-font-weight-h3: @ui--headings-font-weight-h2;
@ui--headings-font-weight-h4: @ui--headings-font-weight-h3;
@ui--headings-font-weight-h5: @ui--headings-font-weight-h4;
@ui--headings-font-weight-h6: @ui--headings-font-weight-h5;

@ui--headings-font-sizes-xl: {
  1: 5rem;
  2: 4rem;
  3: 3.5rem;
  4: 3rem;
  5: 2.5rem;
  6: 2rem;
}

@ui--headings-font-sizes-lg: @ui--headings-font-sizes-xl;
@ui--headings-font-sizes-md: @ui--headings-font-sizes-lg;

@ui--headings-font-sizes-sm: {
  1: 3rem;
  2: 2.5rem;
  3: 2.1rem;
  4: 1.8rem;
  5: 1.5rem;
  6: 1.3rem;
}

@ui--headings-font-sizes-xs: @ui--headings-font-sizes-sm;

.mx__headings-classes(@units) {
  each(@units, {
    .h@{key} {
      font-size: @value;
    }
  });  
}

.h1 {
  font-weight: @ui--headings-font-weight-h1;
  font-family: @ui--headings-font-family-h1;
}

.h2 {
  font-weight: @ui--headings-font-weight-h2;
  font-family: @ui--headings-font-family-h2;
}

.h3 {
  font-weight: @ui--headings-font-weight-h3;
  font-family: @ui--headings-font-family-h3;
}

.h4 {
  font-weight: @ui--headings-font-weight-h4;
  font-family: @ui--headings-font-family-h4;
}

.h5 {
  font-weight: @ui--headings-font-weight-h5;
  font-family: @ui--headings-font-family-h5;
}

.h6 {
  font-weight: @ui--headings-font-weight-h6;
  font-family: @ui--headings-font-family-h6;
}

.mx__media-xs(.mx__headings-classes(@ui--headings-font-sizes-xs));
.mx__media-sm(.mx__headings-classes(@ui--headings-font-sizes-sm));
.mx__media-md(.mx__headings-classes(@ui--headings-font-sizes-md));
.mx__media-lg(.mx__headings-classes(@ui--headings-font-sizes-lg));
.mx__media-xl(.mx__headings-classes(@ui--headings-font-sizes-xl));
