/**
 * Content
 */
@ui--wysiwyg-content-vertical-margin: 1em;
@ui--wysiwyg-content-font-size: 1rem;
@ui--wysiwyg-content-special-content-vertical-margin: 2 * @ui--wysiwyg-content-vertical-margin;
@ui--wysiwyg-content-font-family: serif;
@ui--wysiwyg-content-line-height: 1.5;

/**
 * Heading
 */
@ui--wysiwyg-heading-font-size-1: 3rem;
@ui--wysiwyg-heading-font-size-2: 2rem;
@ui--wysiwyg-heading-font-size-3: 1.5rem;
@ui--wysiwyg-heading-font-size-4: 1.2rem;
@ui--wysiwyg-heading-font-size-5: 1rem;
@ui--wysiwyg-heading-font-size-6: @ui--wysiwyg-heading-font-size-5;
@ui--wysiwyg-heading-margin-bottom: 1em;
@ui--wysiwyg-heading-margin-top: 2em;
@ui--wysiwyg-heading-font-weight: bold;
@ui--wysiwyg-heading-line-height: 1.3;
@ui--wysiwyg-heading-font-family: serif;

/**
 * Anchor
 */
@ui--wysiwyg-anchor-color: blue;
@ui--wysiwyg-anchor-active-color: lighten(@ui--wysiwyg-anchor-color, 30%);
@ui--wysiwyg-anchor-visited-color: darken(@ui--wysiwyg-anchor-color, 20%);
@ui--wysiwyg-anchor-hover-color: darken(@ui--wysiwyg-anchor-color, 10%);

/**
 * Figcaption
 */
@ui--wysiwyg-figcaption-margin-top: .5em;
@ui--wysiwyg-figcaption-font-size: .8em;
@ui--wysiwyg-figcaption-font-style: normal;

/**
 * Blockquote
 */
@ui--wysiwyg-blockquote-vertical-margin: @ui--wysiwyg-content-special-content-vertical-margin;
@ui--wysiwyg-blockquote-horizontal-margin: @ui--wysiwyg-blockquote-vertical-margin;

/**
 * Cite
 */
@ui--wysiwyg-cite-font-style: normal;

/**
 * Floated
 */
@ui--wysiwyg-floated-content-width: 50%;
@ui--wysiwyg-floated-content-side-margin: 1em;

.wysiwyg-content {
  font-size: @ui--wysiwyg-content-font-size;
  line-height: @ui--wysiwyg-content-line-height;
  font-family: @ui--wysiwyg-content-font-family;

  a {
    color: @ui--wysiwyg-anchor-color;
    text-decoration: underline;

    transition: color .3s ease;

    &:active {
      color: @ui--wysiwyg-anchor-active-color;
    }

    &:visited {
      color: @ui--wysiwyg-anchor-visited-color;
    }

    &:hover {
      color: @ui--wysiwyg-anchor-hover-color;
    }

    &:focus {

    }
  }

  > * {
    margin-top: 0;
    margin-bottom: @ui--wysiwyg-content-vertical-margin;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.float-left {
      float: left;
      margin-right: @ui--wysiwyg-floated-content-side-margin;
      width: @ui--wysiwyg-floated-content-width;
    }

    &.float-right {
      float: right;
      margin-left: @ui--wysiwyg-floated-content-side-margin;
      width: @ui--wysiwyg-floated-content-width;
    }
  }

  /**
   * Headings
   */
  h1, h2, h3, h4, h5, h6 {
    font-weight: @ui--wysiwyg-heading-font-weight;
    font-family: @ui--wysiwyg-heading-font-family;
    margin-top:  @ui--wysiwyg-heading-margin-top;
    margin-bottom: @ui--wysiwyg-heading-margin-bottom;
    line-height: @ui--wysiwyg-heading-line-height;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    font-size: @ui--wysiwyg-heading-font-size-1;
  }

  h2 {
    font-size: @ui--wysiwyg-heading-font-size-2;
  }

  h3 {
    font-size: @ui--wysiwyg-heading-font-size-3;
  }

  h4 {
    font-size: @ui--wysiwyg-heading-font-size-4;
  }

  h5 {
    font-size: @ui--wysiwyg-heading-font-size-5;
  }

  h6 {
    font-size: @ui--wysiwyg-heading-font-size-6;
    margin-bottom: 0;
  }


  /**
   * Content
   */

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  blockquote {
    margin: @ui--wysiwyg-blockquote-vertical-margin @ui--wysiwyg-blockquote-horizontal-margin;

    > * {
      margin-top: @ui--wysiwyg-content-vertical-margin;
      margin-bottom: @ui--wysiwyg-content-vertical-margin;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: @ui--wysiwyg-heading-font-weight;
      font-weight: @ui--wysiwyg-heading-font-weight;
      margin-top:  @ui--wysiwyg-heading-margin-top;
      margin-bottom: @ui--wysiwyg-heading-margin-bottom;
    
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  cite {
    font-style: @ui--wysiwyg-cite-font-style;
  }

  strong, b {
    font-weight: bold;
  }

  em, i {
    font-style: italic;
  }

  del, ins {
    color: inherit;
  }

  figure {
    margin-right: 0;
    margin-left: 0;

    figcaption {
      margin-top: @ui--wysiwyg-figcaption-margin-top;
      font-size: @ui--wysiwyg-figcaption-font-size;
      font-style: @ui--wysiwyg-figcaption-font-style;
    }
  }

  iframe {
    width: 100%;
    margin-top: @ui--wysiwyg-content-special-content-vertical-margin;
    margin-bottom: @ui--wysiwyg-content-special-content-vertical-margin;

    &.instagram-media {
      width: 50% !important;
      float: left;
      margin-right: 1em !important;
    }
  }
}
