@use 'sass:list';
@use 'sass:map';
@use './contrast';

$light-color: white !default;
$dark-color: black !default;
$color-specs: (
  'black': black,
  'white': white,
  'darkred': darkred,
  'navy': navy
) !default;

@mixin bg($colors, $light-color: $light-color, $dark-color: $dark-color) {
  $main-color: list.nth($colors, 1);
  $contrast-color: if(
    list.length($colors) > 1,
    list.nth($colors, 2),
    contrast.get-contrast-color($main-color, $light-color, $dark-color)
  );

  background-color: $main-color;
  color: $contrast-color;

  @if (list.length($colors) > 2) {
    $hover-color: list.nth($colors, 3);
    $hover-contrast-color: if(
      list.length($colors) > 3,
      list.nth($colors, 4),
      contrast.get-contrast-color($hover-color, $light-color, $dark-color)
    );

    &:hover {
      background-color: $hover-color;
      color: $hover-contrast-color;
    }
  }
}

@mixin bg-system(
  $prefixes: (
    'prefix': '.bg-',
  ),
  $color-specs: $color-specs,
  $light-color: $light-color,
  $dark-color: $dark-color,
) {
  $background-prefix: map.get($prefixes, 'prefix');

  @each $name, $colors in $color-specs {
    #{$background-prefix}#{$name} {
      @include bg($colors, $light-color, $dark-color);

      @content($name);
    }
  }
}
