@import (less) '../node_modules/normalize.css/normalize.css';
@import 'responsive.less';

@ui--base-font-family: sans-serif;

@ui--base-font-size-xl: 1rem;
@ui--base-font-size-lg: @ui--base-font-size-xl;
@ui--base-font-size-md: @ui--base-font-size-lg;
@ui--base-font-size-sm: @ui--base-font-size-md;
@ui--base-font-size-xs: @ui--base-font-size-sm;

@ui--base-line-height: 1.5;

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
	max-width: 100%;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

body {
	font-family: @ui--base-font-family;
	line-height: @ui--base-line-height;

	box-sizing: border-box;

	.mx__media-responsive(font-size, {
		xl: @ui--base-font-size-xl;
		lg: @ui--base-font-size-lg;
		md: @ui--base-font-size-md;
		sm: @ui--base-font-size-sm;
		xs: @ui--base-font-size-xs;
	});
}

a {
	color: inherit;
}

/**
 * Inherig box sizing
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}
