@import 'responsive.less';

@ui--base-font-family: sans-serif;
@ui--base-line-height: 1.5;

//
// Generates base rulesets
//
.mx__base() {
	@import (less) '../vendor/normalize.css';

	h1, h2, h3, h4, h5, h6 {
	  margin-top: 0;
	  margin-bottom: 0;
	}

	img {
		max-width: 100%;
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
	}

	body {
		font-family: @ui--base-font-family;
		line-height: @ui--base-line-height;

		box-sizing: border-box;
	}

	a {
		color: inherit;
	}

	//
	// Inherig box sizing
	//
	*,
	*::before,
	*::after {
	  box-sizing: inherit;
	}
}

//
// Base should be the only component that automatically
// applies rulesets, as it should be the starting point
// for all other components.
//
.mx__base();
