@import './typography.less';
@import './spacing.less';
@import './colors.less';

@ui--btn-units: {
  font-size: 4;
  vertical-padding: 8;
  horizontal-padding: 7;
  icon-distance: 9;
};

@ui--btn-sm-units: {
  font-size: 5;
  vertical-padding: 10;
  horizontal-padding: 6;
  icon-distance: 10;
};

@ui--btn-lg-units: {
  font-size: 2;
  vertical-padding: 7;
  horizontal-padding: 6;
  icon-distance: 8;
};

@ui--btn-border-width: 1px;
@ui--btn-border-radius: 0;

@ui--btn-transition-duration: .3s;
@ui--btn-transition-timing-function: ease;
@ui--btn-text-transform: uppercase;

/**
 * Size variants
 */
.mx-private__buttons-size-variants() {
  &.btn--sm {
    .mx__typography-text-size(@ui--btn-sm-units[font-size]);
    .mx__spacing-p-vertical(@ui--btn-sm-units[vertical-padding]);
    .mx__spacing-p-horizontal(@ui--btn-sm-units[horizontal-padding]);
  }

  &.btn--lg {
    .mx__typography-text-size(@ui--btn-lg-units[font-size]);
    .mx__spacing-p-vertical(@ui--btn-lg-units[vertical-padding]);
    .mx__spacing-p-horizontal(@ui--btn-lg-units[horizontal-padding]);
  }
}

/**
 * Icon-related styles
 */
.mx-private__buttons-icon-variants() {
  &.btn--icon-only {
    .mx__spacing-p(@ui--btn-units[vertical-padding]);
  }

  &.btn--icon-right {
    > svg {
      .mx__spacing-m-left(@ui--btn-units[icon-distance]);
    }

    &.btn--sm > svg {
      .mx__spacing-m-left(@ui--btn-sm-units[icon-distance]);
    }

    &.btn--lg > svg {
      .mx__spacing-m-left(@ui--btn-lg-units[icon-distance]);
    }
  }

  &.btn--icon-left {
    > svg {
      .mx__spacing-m-right(@ui--btn-units[icon-distance]);
    }

    &.btn--sm > svg {
      .mx__spacing-m-right(@ui--btn-sm-units[icon-distance]);
    }

    &.btn--lg > svg {
      .mx__spacing-m-right(@ui--btn-lg-units[icon-distance]);
    }
  }

  &.btn--icon-xs {
    > svg {
      height: .5em;
      width: .5em;
    }
  }

  &.btn--icon-sm {
    > svg {
      height: .75em;
      width: .75em;
    }
  }

  &.btn--icon-lg {
    > svg {
      height: 1.5em;
      width: 1.5em;
    }
  }

  &.btn--icon-xl {
    > svg {
      height: 2em;
      width: 2em;
    }
  }
}

/**
 * Button rulesets
 */
.mx__buttons() {
  .btn {
    .mx__typography-text-size(@ui--btn-units[font-size]);
    .mx__spacing-p-vertical(@ui--btn-units[vertical-padding]);
    .mx__spacing-p-horizontal(@ui--btn-units[horizontal-padding]);

    display: inline-flex;
    align-items: center;
    text-decoration: none;
    text-transform: @ui--btn-text-transform;

    box-sizing: border-box;
    text-decoration: none;
    border-width: @ui--btn-border-width;
    border-style: solid;
    border-radius: @ui--btn-border-radius;
    font-family: sans-serif;
    cursor: pointer;

    transition: background-color @ui--btn-transition-duration @ui--btn-transition-timing-function,
                color @ui--btn-transition-duration @ui--btn-transition-timing-function,
                border-color @ui--btn-transition-duration @ui--btn-transition-timing-function;

    > svg {
      height: 1em;
      width: 1em;
      color: currentColor;
    }

    &.btn--no-border,
    &.btn--no-border:hover {
      border-color: transparent !important;
    }

    &.btn--no-padding {
      padding: 0 !important;
    }

    .mx-private__buttons-icon-variants();
    .mx-private__buttons-size-variants();
  }

  button.btn {
    background-color: transparent;

    .mx__color-bg-classes();
    .mx__color-hover-bg-classes();
    .mx__color-hover-fg-classes();
  }
}
