@import './dev/mixins.less';
@import './dev/grid.less';

@ui--dev-logging: true;
@ui--dev-overlay-color: red;
@ui--dev-shared-styles: {
	font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	font-size: 10px;
};

.dev-x-ray {
	* {
		box-shadow: inset 0px 0px 0px 1px fade(@ui--dev-overlay-color, 20%);

		&:hover {
			box-shadow: inset 0px 0px 0px 2px @ui--dev-overlay-color;
		}
	}
}

//
// Show debugging shows logs as well.
// Show attributes shows classes and ids only (has no effect over logs).
//
.dev-show-debugging,
.dev-show-attributes {
	[class],
	[id] {
		&::before {
			position: absolute;
			display: block;
			padding: 3px 5px;
			color: white;
			background-color: fade(@ui--dev-overlay-color, 40%);
			border: 1px solid fade(@ui--dev-overlay-color, 40%);

			transform: translateY(calc(-100% + 1px));

			@ui--dev-shared-styles();
		}

		&:first-child {
			&::before {
				transform: none;
			}
		}

		&:hover::before {
			background-color: @ui--dev-overlay-color;
			border: 1px dashed black;
			z-index: 2;
		}
	}

	[class]::before {
		content: '.'attr(class);
	}

	[id]::before {
		content: '#'attr(id);
	}

	[class][id]::before {
		content: '#'attr(id)'.'attr(class);
	}
}
