@import 'responsive.less';

/**
 * Flex direction-values
 */
.mx-private__flex-property-classes(@class-prefix, @ruleset-generator, @possible-values) {
	.mx-private__util-rulesets-from-list(~'.@{class-prefix}-', @ruleset-generator, @possible-values);
	.mx__media-min-sm(.mx-private__util-rulesets-from-list(~'.@{class-prefix}-sm-', @ruleset-generator, @possible-values));
	.mx__media-min-md(.mx-private__util-rulesets-from-list(~'.@{class-prefix}-md-', @ruleset-generator, @possible-values));
	.mx__media-min-lg(.mx-private__util-rulesets-from-list(~'.@{class-prefix}-lg-', @ruleset-generator, @possible-values));
	.mx__media-only-xl(.mx-private__util-rulesets-from-list(~'.@{class-prefix}-xl-', @ruleset-generator, @possible-values));
}

.mx__flex() {
	/**
	 * Direction classes
	 */
	.mx-private__flex-property-classes(flex, { flex-direction: @value }, {
		row: row;
		row-reverse: row-reverse;
		column: column;
		column-reverse: column-reverse;
	});

	/**
	 * Justify-content classes
	 */
	.mx-private__flex-property-classes(justify-content, { justify-content: @value }, {
		start: flex-start;
		end: flex-end;
		center: center;
		between: space-between;
		around: space-around;
	});

	/**
	 * Align-items and align-self classes
	 */
	@ui-private--align-items-values: {
		start: flex-start;
		end: flex-end;
		center: center;
		stretch: stretch;
		baseline: baseline;
	};
	.mx-private__flex-property-classes(align-items, { align-items: @value }, @ui-private--align-items-values);
	.mx-private__flex-property-classes(align-self, { align-self: @value }, @ui-private--align-items-values);

	/**
	 * Align-content classses
	 */
	.mx-private__flex-property-classes(align-content, { align-content: @value }, {
		start: flex-start;
		end: flex-end;
		center: center;
		around: space-around;
		stretch: stretch;
	});

	/**
	 * Flex wrap classes
	 */
	.mx-private__flex-property-classes(flex-wrap, { flex-wrap: @value }, {
		nowrap: nowrap;
		wrap: wrap;
		wrap-reverse: wrap-reverse;
	});
}
