@import './grid.less';

@ui--list-column-variants: 2, 3, 4, 5, 6;

.mx__list-reset() {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.mx-private__list-column-variants() {
  each(@ui--list-column-variants, {
    @gutter-count: @value - 1;
    @gutter-total: @gutter-count * @ui--grid-horizontal-gutter;

    &.list--@{value} {
      > * {
        width: calc((100% - @gutter-total) / @value);
        margin-right: @ui--grid-horizontal-gutter;
        margin-top: @ui--grid-horizontal-gutter;

        /**
         * Neutralize margin right for all items located
         * on the right edge of the container.
         * Example:
         * If column count is 3, ensure any item
         * that is multiple of 3 has no margin right.
         */
        &:nth-child(@{value}n),
        &:last-child {
          margin-right: 0;
        }

        &:nth-child(-n+@{value}) {
          margin-top: 0;
        }
      }

      .mx__media-only-xs({
        > * {
          width: 100%;
          margin-right: 0;
          margin-bottom: @ui--grid-vertical-gutter;

          &:last-child {
            margin-bottom: 0;
          }
        }
      });
    }
  });
}

.mx__list-rulesets() {
	.list-reset,
	ul.list,
	ol.list {
		.mx__list-reset();
	}

	.list {
	  display: flex;
	  justify-content: flex-start;
	  flex-wrap: wrap;

    .mx-private__list-column-variants();
	}
}
