@import './util.less';
@import './shapes.less';
@import './lists.less';
@import './responsive.less';

//
// Applies styles to menu-item
// according to menu levels:
// - all
// - first
// - second-and-deeper
//
.__menu-horizontal-menu-item-styles(
	@__menu-horizontal-options,
	@__menu-item-has-children-class,
	@__menu-item-sub-menu-active-class,
	@__sub-menu-class,
	@__menu-item-styles-generator,
	@menu-level) {
	.mx__dev-log(@menu-level, sub-menu-level);

	//
	// Shared styles for all sub-menu-items
	//
	& when (@menu-level = all) {

		&.@{__menu-item-has-children-class} {
			//
			// Arrow
			//
			> a {
				&::after {
					.mx__shape-arrow(bottom);
			    margin-left: 10px;
				}
			}

			> .@{__sub-menu-class} {
				.mx__list-reset();
				display: none;
				// will become `display: flex;` on activation
				flex-direction: column;

				padding-top: @__menu-horizontal-options[sub-menu-vertical-padding];
				padding-bottom: @__menu-horizontal-options[sub-menu-vertical-padding];
			}

			&.@{__menu-item-sub-menu-active-class} {
				> a::after {
					transform: rotate(180deg);
				}

				> .@{__sub-menu-class} {
					display: flex;
				}
			}
		}

		.mx__media-breakpoint(width, @__menu-horizontal-options[breakpoint], {
			padding: @__menu-horizontal-options[menu-item-vertical-padding] @__menu-horizontal-options[menu-item-horizontal-padding];
		}, {

			&.@{__menu-item-has-children-class} {
				position: relative;

				> .@{__sub-menu-class} {
					position: absolute;
				}
			}

			//
			// Hover activation system should be only
			// for the desktop version, as it is non closeable
			// on mobile devices.
			//
			& when (@__menu-horizontal-options[activate-submenu-on-hover]) {
				&:hover {
					> .@{__sub-menu-class} {
						display: flex;
					}

					> a::after {
						transform: rotate(180deg);
					}
				}
			}
		});
	}

	//
	// Fist level menu-items
	//
	& when (@menu-level = first) {
		.mx__media-breakpoint(width, @__menu-horizontal-options[breakpoint], {
			&.@{__menu-item-has-children-class} {
				> .@{__sub-menu-class} {
					padding-left: 10px;
				}
			}

		}, {
			&.@{__menu-item-has-children-class} {
				//
				// First level sub-menus
				//
				> .@{__sub-menu-class} {
					top: 100%;
					min-width: 100%;
				}
			}
		});
	}

	//
	// Second level onwards menu items
	//
	& when (@menu-level = second-and-deeper) {
		.mx__media-breakpoint(width, @__menu-horizontal-options[breakpoint], {
			&.@{__menu-item-has-children-class} {
				> .@{__sub-menu-class} {
					padding-left: 10px;
				}
			}
		}, {
			&.@{__menu-item-has-children-class} {
				> a::after {
					// Modify arrow direction
					transform: rotate(-90deg);
				}

				> .@{__sub-menu-class} {
					top: -1 * @__menu-horizontal-options[sub-menu-vertical-padding];
					left: 100%;
				}

				&.@{__menu-item-sub-menu-active-class} {
					> a::after {
						transform: rotate(90deg);
					}
				}

				//
				// Hover activation handle arrow
				//
				& when (@__menu-horizontal-options[activate-submenu-on-hover]) {
					&:hover {
						> a::after {
							transform: rotate(90deg);
						}
					}
				}
			}
		});
	}

	//
	// Expose @menu-level to rulesets
	//
	@__menu-item-styles-generator();
}

.mx__menu-horizontal(
	@__menu-styles: {},
	@__menu-item-styles-generator: {},
	@__menu-horizontal-options: {
		breakpoint: @ui--responsive-breakpoints[md-min];
		menu-item-horizontal-padding: 10px;
		menu-item-vertical-padding: 5px;
		sub-menu-vertical-padding: 10px;
		sub-menu-horizontal-padding: 10px;
		activate-submenu-on-hover: false;
	},
	@__menu-horizontal-classes: {
		menu: menu;
		sub-menu: sub-menu;
		menu-item: menu-item;
		menu-item-has-children: menu-item-has-children;
		menu-item-sub-menu-active: menu-item--sub-menu-active;
	}) {

	@__menu-class: @__menu-horizontal-classes[menu];
	@__sub-menu-class: @__menu-horizontal-classes[sub-menu];
	@__menu-item-class: @__menu-horizontal-classes[menu-item];
	@__menu-item-has-children-class: @__menu-horizontal-classes[menu-item-has-children];

	.@{__menu-class} {
		.mx__list-reset();
		display: flex;
		@__menu-styles();

		//
		// Shared styles for all anchor tags inside the menu
		//
		a {
			display: inline-flex;
			align-items: center;

			// Separates arrow from text
			justify-content: space-between;
				width: 100%;

			.mx__media-breakpoint(width, @__menu-horizontal-options[breakpoint], {

			}, {
				//
				// Menu item padding is defined on the anchor tag
				// in large devices and in the surrounding element
				// in mobile ones to allow for finger precision
				//
				padding: @__menu-horizontal-options[menu-item-vertical-padding] @__menu-horizontal-options[menu-item-horizontal-padding];
			});
		}

		//
		// Shared styles for all menu-items
		//
		.@{__menu-item-class} {
			.__menu-horizontal-menu-item-styles(
				@__menu-horizontal-options,
				@__menu-item-has-children-class,
				@__menu-horizontal-classes[menu-item-sub-menu-active],
				@__sub-menu-class,
				@__menu-item-styles-generator,
				all
			);
		}

		//
		// First level menu item
		//
		> .@{__menu-item-class} {
			.__menu-horizontal-menu-item-styles(
				@__menu-horizontal-options,
				@__menu-item-has-children-class,
				@__menu-horizontal-classes[menu-item-sub-menu-active],
				@__sub-menu-class,
				@__menu-item-styles-generator,
				first
			);

			//
			// This selector intentionally does not require a
			// parent-child relationship, as we intend to select
			// from second-level onwards
			//
			.@{__sub-menu-class} {

				//
				// Second level and deeper
				//
				> .@{__menu-item-class} {
					.__menu-horizontal-menu-item-styles(
						@__menu-horizontal-options,
						@__menu-item-has-children-class,
						@__menu-horizontal-classes[menu-item-sub-menu-active],
						@__sub-menu-class,
						@__menu-item-styles-generator,
						second-and-deeper
					);
				}
			}
		}

		.mx__media-breakpoint(width, @__menu-horizontal-options[breakpoint], {
			flex-direction: column;
		}, {
			flex-direction: row;
		});
	}
}
