@import './colors.less';
@import './spacing.less';
@import './util.less';

@ui--section-distance-spacing-unit: 1;
@ui--section-bg-colors: @ui--colors;

.mx__sections() {
	.mx__util-immediate-sibling-relationships({
		reference: ~'.section-transparent';
		others: ~'.section-with-bg';

		reference-after-itself: .mx__spacing-m-top(@ui--section-distance-spacing-unit);
		reference-after-other: .mx__spacing-m-top(@ui--section-distance-spacing-unit);
		other-after-reference: .mx__spacing-m-top(@ui--section-distance-spacing-unit);
	});

	.section-with-bg {
		.mx__spacing-p-vertical(@ui--section-distance-spacing-unit);

		each(@ui--section-bg-colors, {
			@color-name: extract(@value, 1);
			&.bg-@{color-name} + .bg-@{color-name} {
				padding-top: 0;
			}
		});
	}
}
