@import './responsive.less';
@import './util.less';

@import './spacing/mixins-margin.less';
@import './spacing/mixins-padding.less';
@import './spacing/vertical-spacing-system.less';

/**
 * Pairs of [spacing-unit] [class-name]
 */
@ui--spacing-standalone-classes:
  1,
  2,
  3,
  4,
  5,
  6;

@ui--spacing-units:
  120px 80px,
  100px 70px,
  80px  60px,
  70px  50px,
  60px  40px,
  40px  30px,
  30px  15px,
  24px  24px,
  20px  20px,
  14px  14px,
  14px  9px,
  10px,
  8px;

/**
 * Applies a unit to the given property or ruleset
 */
.mx__spacing-apply-unit(@ruleset-or-property, @size) {
  & when not (isruleset(@size)) and (get-unit(@size) = '') {
    @unit-spec: if(
      length(@ui--spacing-units) >= @size,
      extract(@ui--spacing-units, @size),
      extract(@ui--spacing-units, length(@ui--spacing-units))
    );

    .mx__responsive-viewport-indexed-property(@ruleset-or-property, {
      min-value: if(
        length(@unit-spec) > 1,
        extract(@unit-spec, 2),
        extract(@unit-spec, 1)
      );
      max-value: extract(@unit-spec, 1);
    });
  }

  & when (isruleset(@size)) {
    .mx__responsive-viewport-indexed-property(@ruleset-or-property, @size);
  }
}

.mx-private__spacing-classes-single-unit(@name, @value) {
  /**
   * All sides
   */
  .m-@{name} {
    margin: @value !important;
  }
  .p-@{name} {
    padding: @value !important;
  }

  /**
   * Vertical
   */
  .m-vertical-@{name} {
    margin-top: @value !important;
    margin-bottom: @value !important;
  }
  .p-vertical-@{name} {
    padding-top: @value !important;
    padding-bottom: @value !important;
  }

  /**
   * Horizontal
   */
  .m-horizontal-@{name} {
    margin-left: @value !important;
    margin-right: @value !important;
  }
  .p-horizontal-@{name} {
    padding-left: @value !important;
    padding-right: @value !important;
  }

  /**
   * Top
   */
  .m-top-@{name} {
    margin-top: @value !important;
  }
  .p-top-@{name} {
    padding-top: @value !important;
  }

  /**
   * Bottom
   */
  .m-bottom-@{name} {
    margin-bottom: @value !important;
  }
  .p-bottom-@{name} {
    padding-bottom: @value !important;
  }

  /**
   * Left
   */
  .m-left-@{name} {
    margin-left: @value !important;
  }
  .p-left-@{name} {
    padding-left: @value !important;
  }

  /**
   * Right
   */
  .m-right-@{name} {
    margin-right: @value !important;
  }
  .p-right-@{name} {
    padding-right: @value !important;
  }
}

//
// Generates spacing rulesets
//
.mx__spacing() {
  each(@ui--spacing-standalone-classes, {
    @size: extract(@value, 1);
    @name: if(
      length(@value) > 1,
      extract(@value, 2),
      @size
    );

    .mx__spacing-apply-unit(
      {
        .mx-private__spacing-classes-single-unit(@size, @responsive-viewport-indexed-value);
      },
      @size
    );
  });

  .mx-private__spacing-classes-single-unit(0, 0);
}
