@import 'base.less';
@import 'responsive.less';

@import 'spacing/mixins-margin.less';
@import 'spacing/mixins-padding.less';

@ui--spacing-units-xl: {
  1: 100px;
  2: 80px;
  3: 60px;
  4: 40px;
  5: 20px;
  6: 5px;
}
@ui--spacing-units-lg: @ui--spacing-units-xl;
@ui--spacing-units-md: @ui--spacing-units-lg;
@ui--spacing-units-sm: {
  1: 60px;
  2: 40px;
  3: 30px;
  4: 30px;
  5: 20px;
  6: 5px;
}
@ui--spacing-units-xs: @ui--spacing-units-sm;

/**
 * Transitional variables
 * They are only used for enabling the mixin system
 */
@ui-private--spacing-units-xl: {
  @1: @ui--spacing-units-xl[1];
  @2: @ui--spacing-units-xl[2];
  @3: @ui--spacing-units-xl[3];
  @4: @ui--spacing-units-xl[4];
  @5: @ui--spacing-units-xl[5];
  @6: @ui--spacing-units-xl[6];
}
@ui-private--spacing-units-lg: {
  @1: @ui--spacing-units-lg[1];
  @2: @ui--spacing-units-lg[2];
  @3: @ui--spacing-units-lg[3];
  @4: @ui--spacing-units-lg[4];
  @5: @ui--spacing-units-lg[5];
  @6: @ui--spacing-units-lg[6];
}
@ui-private--spacing-units-md: {
  @1: @ui--spacing-units-md[1];
  @2: @ui--spacing-units-md[2];
  @3: @ui--spacing-units-md[3];
  @4: @ui--spacing-units-md[4];
  @5: @ui--spacing-units-md[5];
  @6: @ui--spacing-units-md[6];
}
@ui-private--spacing-units-sm: {
  @1: @ui--spacing-units-sm[1];
  @2: @ui--spacing-units-sm[2];
  @3: @ui--spacing-units-sm[3];
  @4: @ui--spacing-units-sm[4];
  @5: @ui--spacing-units-sm[5];
  @6: @ui--spacing-units-sm[6];
}
@ui-private--spacing-units-xs: {
  @1: @ui--spacing-units-xs[1];
  @2: @ui--spacing-units-xs[2];
  @3: @ui--spacing-units-xs[3];
  @4: @ui--spacing-units-xs[4];
  @5: @ui--spacing-units-xs[5];
  @6: @ui--spacing-units-xs[6];
}

.mx__spacing-classes(@name, @value) {
  /**
   * All sides
   */
  .m-@{name} {
    margin: @value;
  }
  .p-@{name} {
    padding: @value;
  }

  /**
   * Vertical
   */
  .m-vertical-@{name} {
    margin-top: @value;
    margin-bottom: @value;
  }
  .p-vertical-@{name} {
    padding-top: @value;
    padding-bottom: @value;
  }

  /**
   * Horizontal
   */
  .m-horizontal-@{name} {
    margin-left: @value;
    margin-right: @value;
  }
  .p-horizontal-@{name} {
    padding-left: @value;
    padding-right: @value;
  }
  
  /**
   * Top
   */
  .m-top-@{name} {
    margin-top: @value;
  }
  .p-top-@{name} {
    padding-top: @value;
  }

  /**
   * Bottom
   */
  .m-bottom-@{name} {
    margin-bottom: @value;
  }
  .p-bottom-@{name} {
    padding-bottom: @value;
  }

  /**
   * Left
   */
  .m-left-@{name} {
    margin-left: @value;
  }
  .p-left-@{name} {
    padding-left: @value;
  }

  /**
   * Right
   */
  .m-right-@{name} {
    margin-right: @value;
  }
  .p-right-@{name} {
    padding-right: @value;
  }
}

.mx__units-spacing-classes(@units) {
	each(@units, {
    .mx__spacing-classes(@key, @value);
	});
}

.mx__spacing-classes(0, 0px);

.mx__media-xs(.mx__units-spacing-classes(@ui--spacing-units-xs));
.mx__media-sm(.mx__units-spacing-classes(@ui--spacing-units-sm));
.mx__media-md(.mx__units-spacing-classes(@ui--spacing-units-md));
.mx__media-lg(.mx__units-spacing-classes(@ui--spacing-units-lg));
.mx__media-xl(.mx__units-spacing-classes(@ui--spacing-units-xl));
