@import './dev/mixins-noop.less';
@import './responsive.less';
@import './spec-system.less';
@import './typography/utilities.less';

//
// Font-families
// [name-and-family]
// [name] [family]
//
@ui--typography-font-families:
  serif ~'Georgia, "Times New Roman", Times, serif',
  sans-serif ~'-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol',
  monospace ~'SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace';

//
// Font-weights
// [name-and-weight]
// [name] [weight]
//
@ui--typography-font-weights:
  lighter,
  normal,
  bold;

@ui--typography-specs:
  _name   _         _               font-family font-weight,
  h1      2.5rem    1.875rem        sans-serif  bold,
  h2      2rem      1.5rem          sans-serif  bold,
  h3      1.875rem  1.375rem        sans-serif  bold,
  h4      1.75rem   1.3125rem       sans-serif  bold,
  h5      1.375rem  1.0625rem       sans-serif  bold,
  h6      1.125rem  1rem            sans-serif  bold,
  text-1  1.875rem  1.375rem,
  text-2  1.5rem    1.125rem,
  text-3  1.125rem  1rem,
  text-4  1rem,
  p,
  text-5  0.875rem,
  text-6  0.75rem;

//
// Generates typography rulesets
//
.mx__typography() {
  .mx__spec-system-rulesets(@ui--typography-specs, {
    .@{spec-name} {
      @spec-base-ruleset();

      .mx__responsive-viewport-indexed-property(font-size, {
        min: if(
          length(@spec) < 3,
          extract(@spec, 2),
          extract(@spec, 3)
        );
        max: extract(@spec, 2);
      });
    }

    //
    // Generate the rulesets for the default system tags
    // WITH NO CLASS defined.
    //
    // Assume that once the element has a class defined,
    // it is accessible through programming and could be customized
    // manually (by applying .h1 class for example).
    //
    // ATTENTION: This assumption may well be proved wrong.
    //
    // TODO:
    // Possibly there are better solutions
    // for this
    //
    & when (@spec-name = h1),
           (@spec-name = h2),
           (@spec-name = h3),
           (@spec-name = h4),
           (@spec-name = h5),
           (@spec-name = h6),
           (@spec-name = p),
           (@spec-name = figcation),
           (@spec-name = blockquote),
           (@spec-name = table),
           (@spec-name = th),
           (@spec-name = td) {
      @{spec-name}:not([class]) {
        @spec-base-ruleset();
        .mx__responsive-viewport-indexed-property(font-size, {
          min: if(
            length(@spec) < 3,
            extract(@spec, 2),
            extract(@spec, 3)
          );
          max: extract(@spec, 2);
        });
      }
    }
  });

  .mx__typography-utilities();
}
