@import '../../less/base.less';
@import '../../less/lists.less';
@import '../../less/colors.less';
@import '../../less/flex.less';

.mx__list-rulesets();
.mx__color-rulesets();
.mx__flex-rulesets();

@ui--dark-colors: {
	darkred: darkred;
	navy: navy;
}
@ui--light-colors: {
	lightyellow: lightyellow;
	turquoise: turquoise;
	magenta: magenta;
}

main {
	max-width: 800px;
	margin: 40px auto;
}
