@import '../util.less';
@import '../responsive.less';

.mx__typography-heading-rulesets() {

	each(range(length(@ui--typography-heading-font-sizes-lg-xl)), {
		.h@{key} {
			.mx__util-extract-default-to-last(font-weight, @ui--typography-heading-font-weights, @key);
			.mx__util-extract-default-to-last(font-family, @ui--typography-heading-font-families, @key);
		}
	});

	/**
	 * Responsive .h1 - .h6
	 */
	.mx-private__responsive-group-rulesets-from-list(
		~'.h',
		{
			font-size: @value;
		},
		{
			xs-sm: @ui--typography-heading-font-sizes-xs-sm;
			md: @ui--typography-heading-font-sizes-md;
			lg-xl: @ui--typography-heading-font-sizes-lg-xl;
		}
	);
}
