@import '../util.less';
@import '../responsive.less';

/**
 * Responsive .text-1 - .text-6
 */
.mx-private__responsive-group-rulesets-from-list(
  ~'.text-',
  {
    font-size: @value !important;
  },
  {
    xs-sm: @ui--typography-text-font-sizes-xs-sm;
    md: @ui--typography-text-font-sizes-md;
    lg-xl: @ui--typography-text-font-sizes-lg-xl;
  }
);
