.mx__typography-utilities() {
  //
  // .font-family-*
  //
  each(@ui--typography-font-families, {
    @font-family-name: extract(@value, 1);

    @font-family-value: if(
      length(@value) > 1,
      extract(@value, 2),
      extract(@value, 1)
    );

    .font-family-@{font-family-name} {
      font-family: @font-family-value !important;
    }
  });

  //
  // .font-weight-*
  //
  each(@ui--typography-font-weights, {
    @font-weight-name: extract(@value, 1);

    @font-weight-value: if(
      length(@value) > 1,
      extract(@value, 2),
      extract(@value, 1)
    );

    .font-weight-@{font-weight-name} {
      font-weight: @font-weight-value !important;
    }
  });

  //
  // .text-transform-uppercase
  // .text-transform-lowercase
  // .text-transform-none
  //
  each(uppercase lowercase none, {
    .text-transform-@{value} {
      text-transform: @value !important;
    }
  });

  //
  // .font-style-normal
  // .font-style-italic
  //
  each(normal italic, {
    .font-style-@{value} {
      font-style: @value !important;
    }
  });

  //
  // .text-decoration-underline
  // .text-decoration-dotted
  // .text-decoration-wavy
  // .text-decoration-overline
  // .text-decoration-none
  //
  each(underline dotted wavy overline none, {
    .text-decoration-@{value} {
      text-decoration: @value !important;
    }
  });

  //
  // .text-align-left
  // .text-align-center
  // .text-align-right
  //
  each(left center right, {
    .text-align-@{value} {
      text-align: @value !important;
    }
  });
}
