@use './responsive';
@use 'sass:math';

$horizontal-gutter: 10px 20px !default;
$vertical-gutter: (
  'xs': 10px,
  'md': 20px
) !default;

@mixin row($horizontal-gutter: $horizontal-gutter) {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  @include responsive.value($horizontal-gutter) using ($value) {
    margin-left: math.round(-1/2 * $value);
    margin-right: math.round(-1/2 * $value);
  }
}

@mixin column(
  $horizontal-gutter: $horizontal-gutter,
  $vertical-gutter: $vertical-gutter
) {
  display: flex;
  flex-direction: column;

  @include responsive.value($horizontal-gutter) using ($value) {
    padding-left: math.round($value / 2);
    padding-right: math.round($value / 2);
  }

  @include responsive.value($vertical-gutter) using ($value) {
    padding-top: math.round($value / 2);
    padding-bottom: math.round($value / 2);
  }
}
