@import '../../less/dev.less';
@import '../../less/website-containers.less';
@import '../../less/spacing.less';
@import '../../less/colors.less';
@import '../../less/grid.less';

.mx__spacing-rulesets();
.mx__color-rulesets();
.mx__grid-rulesets();

@ui--dark-colors: {
	darkred: darkred;
	navy: navy;
}
@ui--light-colors: {
	lightyellow: lightyellow;
	turquoise: turquoise;
	magenta: magenta;
}

body {
	background-color: gray;
}
