@import '../../less/website-containers.less';
@import '../../less/spacing.less';
@import '../../less/colors.less';
@import '../../less/grid.less';

@ui--dark-colors: {
	darkred: darkred;
	navy: navy;
}
@ui--light-colors: {
	lightyellow: lightyellow;
	turquoise: turquoise;
	magenta: magenta;
}

body {
	background-color: gray;
}

// #content {
// 	max-width: 800px;
// 	margin-left: auto;
// 	margin-right: auto;
// }
