@import '../../less/base.less';
@import '../../less/colors.less';
@import '../../less/buttons.less';

@ui--btn-border-radius: 30px;

@ui--colors:
  red,
  brown,
  firebrick,
  slateblue,
  coral,
  white,
  lavender,
  skyblue;

@ui--color-text-dark: black;
@ui--color-text-light: white;

.mx__buttons();
.mx__colors();

body {
  background-color: lightgray;
}

#content {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
}
