@import '../../less/dev.less';
@import '../../less/base.less';
@import '../../less/responsive.less';
@import '../../less/spec-system.less';

// @ui--dev-logging:
@ui--dev-logging: show-ui;;

body {
  background-color: lightgrey;
}

main {
  background-color: white;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  padding: 50px;

  @font-family-monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace;

  @specs:
    _name                 _       _       color    background-color font-family,
    h1                    30px    24px    darkred  skyblue          @font-family-monospace ~'!important',
    ~'ol',
    h3                    26px    22px    null     green,
    ~'.custom-component',
    h6,
    h2                    24px    18px    yellow   darkgrey,
    h4,
    h5                    14px    12px    navy     null             ~'serif !important',
    p                     1rem    .8rem   darkred  white;

  .mx__spec-system-rulesets(@specs, {
    @selector: if(isstring(@spec-name), @spec-name, ~'> @{spec-name}');

    @{selector} {
      @spec-base-ruleset();

      .mx__responsive-viewport-indexed-property(font-size, {
        min-value: if(
          length(@spec) < 3,
          extract(@spec, 2),
          extract(@spec, 3)
        );
        max-value: extract(@spec, 2);
      });
    }
  }, test-spec);

  ul {
    .mx__spec-system-apply(@specs, h2, {
      .mx__responsive-viewport-indexed-property(font-size, {
        min-value: if(
          length(@spec) < 3,
          extract(@spec, 2),
          extract(@spec, 3)
        );
        max-value: extract(@spec, 2);
      });
    });
  }
}
