@import '../../less/dev.less';
@import '../../less/base.less';
@import '../../less/spec-system.less';

body {
  background-color: lightgrey;
}

main {
  background-color: white;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  padding: 50px;

  @font-family-monospace: Consolas, 'Liberation Mono', Menlo, Courier, monospace;

  @specs:
    name     color    background-color font-family,
    h1       darkred  skyblue          @font-family-monospace ~'!important',
    h3       null     green,
    h6,
    h2       yellow   darkgrey,
    h4,
    h5       navy     null             ~'serif !important',
    p        darkred  white;

  .mx__spec-system-rulesets(@specs, ~'>');

  ul {
    .mx__spec-system-apply(@specs, h2);
  }

  ol {
    .mx__spec-system-apply(@specs, h1);
  }
}
