@import '../../../less/spacing.less';
@import '../../../less/typography.less';

.mx__spacing-rulesets();
.mx__typography-rulesets();

body {
  background-color: lightsteelblue;
}

#content {
  max-width: 600px;
  background-color: white;
  margin: 0 auto;
}
