@import '../../less/base.less';
@import '../../less/rich-text.less';
@import '../../less/colors.less';

@ui--colors:
  darkred,
  navy,
  lightyellow,
  yellow,
  lightgray,
  turquoise,
  magenta;

// [1] distance-from-other
// [2] distance-to-other
// [3] distance-from-itself
@ui--rich-text-vertical-spacing-specs:
  h1                   1       1em     1em,
  h2                   2em     1em     1em,
  h3                   2em     1em     1em,
  h4                   2em     1em     1em,
  h5                   2em     1em     1em,
  h6                   2em     0       1em,
  img                  2.25rem 2.25rem 2.25rem,
  figure               2.25rem 2.25rem 2.25rem,
  iframe               2.25rem 2.25rem 2.25rem,
  blockquote           2.25rem 2.25rem 2.25rem,
  ~'.custom-component' 2.25rem 2.25rem 2.25rem,
  ~'.custom-embed'     2.25rem 2.25rem 2.25rem;

.mx__rich-text();
.mx__colors();

body {
  background-color: lightgray;
}

#content {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
}
